.card-container {
  border: 1px solid rebeccapurple;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
