.card-container {
  border: 1px solid rebeccapurple;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container:hover {
  cursor: pointer;
  background-color: rgb(57, 66, 88);
}

.title {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title:first-letter {
  text-transform: uppercase;
}

.image {
  height: 30px;
  width: 30px;
  margin-right: 1rem;
}

.image img {
  height: 100%;
  border-radius: 50%;
}
